.container {
  padding-top: 2rem;
}

.title {
  color: var(--blue-500);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }
}