.summaryCards {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 1rem;

}

.summaryCard {
  background: white;

  padding: 2rem;

  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  text-align: center;
}

.container {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(170px, 1fr));

  gap: 1rem;
}

.card {
  background: white;

  padding: 1.5rem;

  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  text-align: center;

  transition: .3s;
}

.card:hover,
.summaryCard:hover {
  transform: translateY(-3px);

  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.number {
  font-size: 2rem;

  font-weight: bold;

  color: var(--blue-500);
}

.label {
  margin-top: .5rem;

  color: gray;
}

@media (max-width: 768px) {

  .summaryCards {

    grid-template-columns: 1fr;

  }

}