.register_card {
  width: 100%;
  max-width: 500px;

  background: white;

  padding: 45px;

  border-radius: 28px;

  box-shadow:
    0 15px 40px rgba(8, 39, 150, 0.12),
    0 5px 10px rgba(8, 39, 150, 0.08);
}


.register_card h1 {
  text-align: center;

  color: var(--blue-700);

  margin-bottom: 8px;

  font-size: 2rem;
}


.subtitle {
  text-align: center;

  color: var(--blue-400);

  margin-bottom: 35px;
}


.btn_register {

  width: 100%;

  padding: 16px;

  border: none;

  border-radius: 16px;


  background:
    linear-gradient(
      135deg,
      var(--blue-500),
      var(--blue-600)
    );


  color: white;

  font-size: 16px;

  font-weight: 600;


  cursor: pointer;

  transition: .3s;

}


.btn_register:hover {

  transform: translateY(-2px);

  box-shadow:
    0 8px 20px rgba(17, 66, 243, .25);

}


.btn_register:disabled {

  opacity: .7;

  cursor: not-allowed;

  transform: none;

}


.divider {

  display: flex;

  align-items: center;

  margin: 30px 0;

}


.divider::before,
.divider::after {

  content: "";

  flex: 1;

  height: 1px;

  background: var(--blue-100);

}


.divider span {

  padding: 0 15px;

  color: var(--blue-300);

}



.btn_login {

  display: flex;

  justify-content: center;

  align-items: center;


  text-decoration: none;


  width: 100%;

  padding: 16px;


  border: 2px solid var(--blue-500);

  border-radius: 16px;


  background: transparent;

  color: var(--blue-500);


  font-size: 16px;

  font-weight: 600;


  cursor: pointer;

  transition: .3s;

}


.btn_login:hover {

  background: var(--blue-500);

  color: white;

}



@media (max-width: 600px) {

  .register_card {

    padding: 30px 25px;

    max-width: 100%;

  }


  .register_card h1 {

    font-size: 1.8rem;

  }

}