.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* melhor que min-width */
  height: 40px;

  background-color: var(--blue-100);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--blue-500);
  box-shadow: 0 0 8px var(--blue-500);

  /* garante que ele fique acima de tudo */
  z-index: 1000; 
}

@media (max-width: 551px) {
  .escola {
    text-align: center;
    padding-bottom: 8px;
  }
}

@media (max-width: 278px) {
  .rodape {
    font-size: 12px;
  }
}