.container {
  display: flex;
  flex-direction: column;

  margin-top: 10rem;
}

/* DESKTOP */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.carteira {
  background: white;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.foto {
  width: 80px;
  height: 80px;

  border-radius: 50%;

  object-fit: cover;
}

.nome {
  font-size: .85rem;
  font-weight: bold;
  margin-top: .5rem;
}

.posicao {
  color: gray;
  font-size: .8rem;
}

.vazia {
  color: #aaa;
}

.quadro {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  font-weight: bold;
}

/* TABLET */

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* CELULAR */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .carteira {
    padding: .75rem;
  }

  .foto {
    width: 60px;
    height: 60px;
  }

  .nome {
    font-size: .75rem;
  }

}

/* CELULAR PEQUENO */

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}